
h1 {
  background-color: lightblue;
  border-radius: 5%;
  border-style: ridge;
}
body {
  background-image:url("img/pic.jpeg");

}
.jumbotron{
  background-image: url("img/jumbo.jpeg");
  opacity: 0.9;
}
}
.end{
  padding: 3px;
  margin: 2px;
  background-color: lightyellow;
  border: double;
  border-color: red;
}
.sidebar {
  width: 30%;
  float:left;
  background-image: url(img/sidebar.jpeg);
}
.well{
  background-color: lightblue;
  border-radius: 3%;
  border-style: double;
  border-color: black;
}
.form1{
  font-family: cursive;
}
.form2 {
  display:none;
  font-weight: bold;
}
#java {
  display: none;
}
#cSharp {
  display: none;
}
#cssDesign {
  display: none;
}
#php {
  display: none;
}
#ruby {
  display: none;
}
