
h1 {
  background-color: lightblue;
  border-radius: 5%;
  border-style: ridge;
}
body {
  background-image:url("img/pic.jpeg");

}
.jumbotron{
  background-image: url("img/jumbo.jpeg");
  opacity: 0.9;

}
p{
  padding: 3px;
  margin: 2px;
  background-color: lightyellow;
  border: double;
  border-color: red;
}
.well{
  background-color: lightblue;
  border-radius: 3%;
  border-style: double;
  border-color: black;
}
.form2 {
  display:none;
}
#java {
  display: none;
}
#cSharp {
  display: none;
}
#cssDesign {
  display: none;
}
#php {
  display: none;
}
#ruby {
  display: none;
}
